<html>
<style type="text/css">
    @import url("https://fonts.googleapis.com/css?family=Roboto:500,900,300,700italic");
    body{ margin:0; padding:0; color:#2f2f2f; font:14px/1.35em Arial,Helvetica,sans-serif; }
    .tg {border-collapse:collapse;border-spacing:0; border-bottom: 1px solid; font:11px/1.35em \'Roboto\', sans-serif;}
    .tg td{overflow:hidden; word-break:normal; font:11px/1.35em \'Roboto\', sans-serif;}
    .tableFooter,
    .tableFooter td,
    .tableFooter td a,
    .tableFooter a,
    .tableFooter td p,
    .tableFooter p { font:11px/1.35em Arial,Helvetica,sans-serif;  }
    html {-webkit-text-size-adjust: none;}
    .gmailfix { display:none; display:none!important; }
    table#header {
        border-collapse: collapse;
        table-layout: fixed;
        margin: 0 auto;
    }

    @media screen and (max-width:1160px){
        .outer.outer{
            width:710px !important;
        }
    }

    @media screen and (max-width:700px){
        .outer.outer{
            width:710px !important;
            float:none;
        }
    }
    @media screen and (max-width:550px){
        .outer.outer{
            width:100% !important;
        }
    }
</style>
<body>
Aqui va el header......
<br><br>
<!-- [ middle starts here] -->
<table cellspacing="15" cellpadding="0" style="text-align:left;" border="0" width="710">
    <tr>
        <td valign="top" align="left">

            Hola {{ customer.name }}

            <p><span style="font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:left;">
			   Gracias por crear una cuenta en Deporvillage.</span>
            </p>

            <p><span style=" font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:left;">
				Somos tu tienda online especializada en ciclismo y running donde encontraras todas las primeras marcas a precios inmejorables. Tambi&eacute;n destacamos en una gran variedad de deportes, como outdoor, nataci&oacute;n, triatlon y mucho m&aacute;s.
				</span></p>

            <p><span style=" font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:left;">
				Para acceder a tu cuenta haz clic en <a href="https://www.deporvillage.com/customer/account/login/?utm_source=newaccount&utm_medium=crm">Mi cuenta</a>, e introduce tu direcci&oacute;n de e-mail y contrase&ntilde;a.
				</span></p>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="23%">&nbsp;</td>
                    <td width="54%">
                        <div style="border:1px solid #e7e7e7; width:350px; padding:13px 18px; text-align:left; background:#ffffff; ">
                            <span style="font-weight:bold;font-family: Arial,Helvetica,sans-serif;font-size: 14px; text-align:left;">Te recordamos tus c&oacute;digos de acceso</span>
                            <br /><br />
                            Email : <strong style="font-family: Arial,Helvetica,sans-serif;font-size: 14px; text-align:left;">{{customer.email}}</strong><br />
                            Password : <strong style="font-family: Arial,Helvetica,sans-serif;font-size: 14px; text-align:left;">{{customer.password}}</strong><br />
                        </div>
                    </td>
                    <td width="23%">&nbsp;</td>
                </tr>
            </table>

            <div style="margin: 20px 0 0 0;">
                <a href="https://www.deporvillage.com/customer/account/login/?utm_source=newaccount&utm_medium=crm">
                    <img src="https://images.deporvillage.com/skin/frontend/default/default/images/new-account-es.png">
                </a>
                <p style="clear:both;"></p>
            </div>

            <p style="font-family: Arial,Helvetica,sans-serif;text-align:left;">
                Para ponerte en contacto con nosotros por cualquier motivo, solo tienes que mandar un e-mail a atencionalcliente@deporvillage.com y te atenderemos.
            </p>
            <p style="font-family: Arial,Helvetica,sans-serif;text-align:left;">
                Invita a un amigo para que <b>gane 5&euro;</b> en su primera compra. Adem&aacute;s, cuando tu amigo realice su primer pedido <a href="">tu recibir&aacute;s tambi&eacute;n 5&euro;</a>.

            </p>
            <p>
                Aquí va el bloque de jetlore....
            </p>

            <p style="font-family: Arial,Helvetica,sans-serif;font-size: 12px; text-align:left;">
                Atentamente,
                <br />
                El equipo de deporvillage.com
            </p>


        </td>
    </tr>
    <tr>
        <td>


        </td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" width="638">
    <tr>
        <td valign="top">
            <img src="https://images.deporvillage.com/skin/frontend/default/default/images/footer-redesign-es1.jpg" alt="Deporvillage" border="0" usemap="#Map" href=""/>
        </td>
    </tr>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="gmailfix" style="white-space:nowrap; font:15px courier; line-height:0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
<map name="Map"><area shape="rect" coords="451,6,505,22" href=""><area shape="rect" coords="322,6,444,22" href=""><area shape="rect" coords="201,6,318,22" href=""><div class="gmailfix" style="white-space:nowrap; font:15px courier; line-height:0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div></map>
</body>
</html>